* {
  padding: 0;
  margin: 0;
}

html, body {
  background-color: #172121;
  scroll-behavior: smooth;
}

#menu {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  background-color: #F7FFF7;
  color: black;
  font-size: 18px;
}

#menu:focus-within {
  pointer-events: none;
}

#menu:focus-within #dropdown {
  display: block;
  pointer-events: all;
}

#menu a {
  text-decoration: none;
  color: black;
}

#dropdown {
  display: none;
  position: absolute;
  background-color: rgba(247, 255, 247, 0.4);
  width: 100vw;
  text-align: center;
}

#dropdown a {
  text-decoration: none;
}

header {
  color: #F7FFF7;
  position: relative;
  background-color: #9A031E;
  display: inline-block;
  text-align: center;
  width: 100vw;
}

header .logo {
  width: 50px;
  height: auto;
  background-color: #2C6E49;
  position: relative;
  border-radius: 50%;
}

.description {
  background-color: #172121;
  font-size: 30px;
  text-align: center;
  color: #F7FFF7;
}

.description .aboutusimage {
  background-color: #000000;
}

.description .aboutusimage img {
  width: 28vw;
  border: double #F7FFF7 3px;
  padding: 2px;
  margin: 2px;
}

.description .aboutusimage img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.description .video h4 {
  font-family: cursive;
  background-color: #2C6E49;
  border: solid #F7FFF7 2px;
  font-size: 33px;
  margin: 8px;
  padding: 8px;
}

.description .video iframe {
  width: 100vw;
  height: 50vh;
}

.description .aboutcontent h4 {
  font-family: cursive;
  background-color: #2C6E49;
  border: solid #F7FFF7 2px;
  font-size: 33px;
  margin: 8px;
  padding: 8px;
}

.description .aboutcontent p {
  font-size: 20px;
  font-family: sans-serif;
  padding: 8px;
  margin: 5px;
}

.description .aboutcontent img {
  width: 100vw;
  background-color: #000000;
}

.parallax {
  height: 45vh;
  background-image: url(/images/Pizza-chef.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax .centertext {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 40px;
  font-family: cursive;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border: #F7FFF7 5px double;
}

.scrolltothetop {
  position: fixed;
  bottom: 30px;
  float: right;
  right: 18.5%;
  max-width: 30px;
  padding: .5px;
  left: 77.25%;
}

.scrolltothetop a {
  font-size: 33px;
  text-decoration: none;
  background-color: #F7FFF7;
  border: #172121;
  border-radius: 4px;
  color: #172121;
}

.scrolltothetop a:hover {
  background-color: #2C6E49;
}

footer {
  color: #F7FFF7;
  background-color: #9A031E;
  text-align: center;
}

.footergrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  background-color: #9A031E;
}

.footergrid .griditem {
  border: solid black 1px;
  color: #000000;
  text-align: center;
  font-size: 15px;
  font-family: sans-serif cursive;
  padding: 5px;
  margin: 5px;
}

.footergrid .griditem li {
  list-style-type: none;
}

.footergrid .griditem a {
  text-decoration: none;
  font-size: 17px;
  color: #172121;
}

.footergrid .griditem h3 {
  font-size: 20px;
  font-family: cursive;
}

.footergrid .griditem h2 {
  font-family: cursive;
  font-size: 25px;
}

.footergrid .griditem img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #2C6E49;
}

@media only screen and (min-width: 768px) {
  .footergrid {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9A031E), to(#520505));
    background-image: linear-gradient(#9A031E, #520505);
    width: 100vw;
  }
  .footergrid .griditem {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9A031E), to(#520505));
    background-image: linear-gradient(#9A031E, #520505);
  }
  .footergrid .griditem h2 {
    font-size: 28px;
  }
  .footergrid .griditem h3 {
    font-size: 24px;
  }
  .footergrid .griditem a {
    font-size: 24px;
    color: #000;
  }
  .footergrid .griditem img {
    width: 45px;
    height: 45px;
  }
  .footergrid .griditem p {
    font-size: 19px;
  }
  header {
    font-size: 25px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9A031E), to(#520505));
    background-image: linear-gradient(#9A031E, #520505);
  }
  #menu {
    font-size: 25px;
  }
  .parallax {
    height: 50vh;
  }
  .parallax .centertext {
    font-size: 60px;
  }
  .description .aboutcontent h4 {
    font-size: 38px;
    background-image: -webkit-gradient(linear, left top, right top, from(#172121), to(#2C6E49));
    background-image: linear-gradient(to right, #172121, #2C6E49);
  }
  .description .aboutcontent p {
    font-size: 28px;
  }
  .description .aboutusimage img {
    width: 30vw;
  }
  .description .aboutusimage img:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .description .video h4 {
    background-image: -webkit-gradient(linear, left top, right top, from(#172121), to(#2C6E49));
    background-image: linear-gradient(to right, #172121, #2C6E49);
    font-size: 38px;
  }
  .description .video iframe {
    height: 60vh;
  }
  .scrolltothetop a {
    font-size: 40px;
  }
}
/*# sourceMappingURL=gallery.css.map */