*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #172121;
    
}

#menu{
    user-select: none;
    display: block;
    background-color: #F7FFF7;
    color: black;
    font-size: 18px;
    
    &:focus-within{
        pointer-events: none;
        #dropdown{
            display: block;
            pointer-events: all;
        }
    }
    a{
        text-decoration: none;
        color: black;
        
    }

}

#dropdown{
    display: none;
    position: absolute;
    background-color: rgba($color: #F7FFF7, $alpha: 0.4);
    width: 100vw;
    text-align: center;
    a{
        text-decoration: none;
    }
}

header{
    color: #F7FFF7;
    position: relative;
    background-color: #9A031E;
    display: inline-block;
    text-align: center;
    width: 100vw;
    .logo{
        width: 40px;
        height: auto;
        background-color: #2C6E49;
        position: relative;
        border-radius: 50%;
    }
    
}

.description{
    background-color: #172121;
    height: 1830px;
    font-size: 30px;
    text-align: center;
    color: #F7FFF7;
    .aboutusimage{
        background-color: #000000;
        img{
        width: 28vw;
        height: 27vh;
        border: double #F7FFF7 3px;
        padding: 2px;
        margin: 2px;
        &:hover{
            transform: scale(1.3);
        }
    
        }
    }
    .video{
    
        iframe{
            width: 100vw;
            height: 50vh;
            
        }
    }
    .aboutcontent{
        h4{
            font-family: cursive;
            background-color: #2C6E49;
            border: solid #F7FFF7 2px;
            font-size: 33px;
            margin: 5px;
            padding: 8px;
        }
        p{
            font-size: 20px;
            font-family: sans-serif;
            padding: 8px;
            margin: 5px;
        }
        img{
            width: 100vw;
            height: 30vh;
            background-color: #000000;
    }
    }
}



.parallax{
    height: 45vh;
    background-image:url(/images/Pizza-chef.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    .centertext{
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        font-size: 40px;
        font-family: cursive;
        color: white;
        background-color: rgba($color: #000000, $alpha: 0.3);
        border: #F7FFF7 5px double;
    }    
    
}

footer{
    color: #F7FFF7;
    background-color: #9A031E;
    text-align: center;
}

.footergrid{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #9A031E;
    
    .griditem{
        
        border: solid rgb(0, 0, 0) 1px;
        color: #000000;
        text-align: center;
        font-size: 15px;
        font-family: sans-serif cursive;
        padding: 5px;
        margin: 5px;
        li{
            list-style-type: none;
        }

        a{
            text-decoration: none;
            font-size: 17px;
            color: #172121;
        }
        h3{
            font-size: 20px;
            font-family: cursive;
        }

        h2{
            font-family: cursive;
            font-size: 25px;
        }
        img{
            border-radius: 50%;
            width: 35px;
            height: 35px;
            background-color: #2C6E49;
        }
    
    }
}

