*{
    padding: 0;
    margin: 0;
}

html, body{
    background-color: #172121;
    scroll-behavior: smooth;
}

#menu{
    user-select: none;
    display: block;
    background-color: #F7FFF7;
    color: black;
    font-size: 18px;
    
    &:focus-within{
        pointer-events: none;
        #dropdown{
            display: block;
            pointer-events: all;
        }
    }
    a{
        text-decoration: none;
        color: black;
        
    }
}
#dropdown{
    display: none;
    position: absolute;
    background-color: rgba($color: #F7FFF7, $alpha: 0.4);
    width: 100vw;
    text-align: center;
    
}

header{
    color: #F7FFF7;
    position: relative;
    background-color: #9A031E;
    display: inline-block;
    text-align: center;
    width: 100vw;
    .logo{
        width: 40px;
        height: auto;
        background-color: #2C6E49;
        position: relative;
        border-radius: 50%;
    }
    
}


.parallax{
    height: 45vh;
    background-image:url(/images/Gelato.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .centertext{
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        font-size: 43px;
        font-family: cursive;
        color: white;
        background-color: rgba($color: #000000, $alpha: 0.3);
        border: #F7FFF7 5px double;
    }    
    
}


.description{
    background-color: #172121;
    height: 1000px;
    font-size: 30px;
    text-align: center;
    color: #F7FFF7;
    p{
        font-size: 18px;
    }
    
    .menuitem{

        img{
            
            width: 95vw;
            padding: 5px;
            display: inline-block;
            background-color: #000000;
        
        }
        h2{
            background-color: #9A031E;
            font-size: 33px;
            font-family: cursive;
            border: #F7FFF7 solid 2px;
            margin: 8px;
        }
        h3{
            background-color: #2C6E49;
            font-size: 27px;
            font-family: cursive;
            border: #F7FFF7 solid 2px;
            margin: 8px;
    
        }
        li{
            padding: 6px;
            margin: 3px;
            font-size: 20px;
            font-family: sans-serif;
            list-style-type: none;
            
        }
    }
    
    
}  

footer{
    color: #F7FFF7;
    background-color: #9A031E;
    text-align: center;
    font-size: 16px;
}

.footergrid{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #9A031E;
    
    .griditem{
        
        border: solid rgb(0, 0, 0) 1px;
        color: #000000;
        text-align: center;
        font-size: 15px;
        font-family: sans-serif cursive;
        padding: 5px;
        margin: 5px;
        li{
            list-style-type: none;
        }

        a{
            text-decoration: none;
            font-size: 17px;
            color: #172121;
        }
        h3{
            font-size: 20px;
            font-family: cursive;
        }

        h2{
            font-family: cursive;
            font-size: 25px;
        }
        img{
            border-radius: 50%;
            width: 35px;
            height: 35px;
            background-color: #2C6E49;
        }
    
    }
}

.menunavbar{
    font-size: 25px;
    width: 100vw;
    text-align: center;
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #F7FFF7;
    }
    li{
        float: left;
    }
    li a{
        display: block;
        color: #172121;
        font-size: 22px;
        font-family: cursive;
        text-align: center;
        padding: 4px 20px;
        text-decoration: none;
        &:hover{
            background-color: #2C6E49;
        }
    }

}


