
*{
    padding: 0;
    margin: 0;
}
html,body{
    background-color: #172121;
    scroll-behavior: smooth;
}
/*This is the navbar/hamburger menu*/
#menu{
    user-select: none;
    display: block;
    background-color: #F7FFF7;
    color: black;
    font-size: 18px;
    
    &:focus-within{
        pointer-events: none;
        #dropdown{
            display: block;
            pointer-events: all;
        }
    }
    a{
        text-decoration: none;
        color: black;
        
    }

}

#dropdown{
    display: none;
    position: absolute;
    background-color: rgba($color: #F7FFF7, $alpha: 0.4);
    width: 100vw;
    text-align: center;
    a{
        text-decoration: none;
    }
}
/* This is the header with the logo amd the second navbar for the desktop version*/
header{
    color: #F7FFF7;
    position: relative;
    background-color: #9A031E;
    display: inline-block;
    text-align: center;
    width: 100vw;
    .logo{
        width: 50px;
        height: auto;
        background-color: #2C6E49;
        position: relative;
        border-radius: 50%;
    }
    #navbar2{
    display: none;
}
}
/* This is the Parallax effect i used for the website*/
.parallax{
    height: 45vh;
    background-image:url(/images/italybackgroundimage.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .centertext{
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        font-size: 43px;
        font-family: cursive;
        color: white;
        background-color: rgba($color: #000000, $alpha: 0.3);
        border: #F7FFF7 5px double;
    }    
    
}
/*This is where the content is styled for the main page*/
.description{
    background-color: #172121;
    font-size: 30px;
    text-align: center;
    color: #F7FFF7;
    padding: 14px;
    
    h3{
        border: black 1px solid;
        background-color:#2C6E49;
        color: rgb(255, 255, 255);
        border: #F7FFF7 solid 2px;
        font-size: 33px;
        font-family: cursive;
    }
    p{
        
        padding: 10px;
        font-size: 20px;
        font-family:sans-serif;
        margin: auto;
        background-color: black;
        margin: 15px;
    }
    button{
        background-color: #F7FFF7;
        color: black;
        &:active{
            background-color: darkgreen;
        }
    }

}
/* This is the picture Carousel for the front page, it was quite challeging*/
main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 11;
    width: 95vw;
    height: 43vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 700px;
    --items: 8;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}

div.item {
    position: absolute;
    width: 500px;
    height: 340px;
    background-color:#000000;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
    img{
        width: 100vw;
        height: 40vh;
        border: black 2px solid;
    }
}

div.item:nth-of-type(1) {
    --offset: 1;
    
}
div.item:nth-of-type(2) {
    --offset: 2;
    
}
div.item:nth-of-type(3) {
    --offset: 3;
    
}
div.item:nth-of-type(4) {
    --offset: 4;
    
}
div.item:nth-of-type(5) {
    --offset: 5;
    
}
div.item:nth-of-type(6) {
    --offset: 6;
    
}
div.item:nth-of-type(7) {
    --offset: 7;
    
}
div.item:nth-of-type(8) {
    --offset: 8;
    
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
}

input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
}

input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
}
input:nth-of-type(6) {
    grid-column: 8 / 9;
    grid-row: 2 / 3;
}
input:nth-of-type(6):checked ~ main#carousel {
    --position: 6;
}
input:nth-of-type(7) {
    grid-column: 9 / 10;
    grid-row: 2 / 3;
}
input:nth-of-type(7):checked ~ main#carousel {
    --position: 7;
}
input:nth-of-type(8) {
    grid-column: 10 / 11;
    grid-row: 2 / 3;
}
input:nth-of-type(8):checked ~ main#carousel {
    --position: 8;
}



.gallerybutton{
    width: 91vw;
    background-color: black;
    margin-bottom: 15px;
    padding: 5px;
    border: solid #172121 1px;
    a{
        
        text-decoration: none;
        background-color: #2C6E49;
        color: #F7FFF7;
        font-size: 17px;
        font-family: sans-serif;
        text-align: center;
    }
}
/*This is the footer*/
footer{
    color: #F7FFF7;
    background-color: #9A031E;
    text-align: center;
}

.footergrid{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #9A031E;
    
    .griditem{
        
        border: solid rgb(0, 0, 0) 1px;
        color: #000000;
        text-align: center;
        font-size: 15px;
        font-family: sans-serif cursive;
        padding: 5px;
        margin: 5px;
        li{
            list-style-type: none;
        }

        a{
            text-decoration: none;
            font-size: 17px;
            color: #172121;
        }
        h3{
            font-size: 20px;
            font-family: cursive;
        }

        h2{
            font-family: cursive;
            font-size: 25px;
        }
        img{
            border-radius: 50%;
            width: 35px;
            height: 35px;
            background-color: #2C6E49;
        }
    
    }
}
/*This is the scroll to the top button*/
.scrolltothetop{
    position: fixed;
    bottom: 30px;
    float: right;
    right: 18.5%;
    max-width: 30px;
    padding: .5px;
    left: 77.25%;
    a{
        font-size: 33px;
        text-decoration: none;
        background-color: #F7FFF7;
        border: #172121;
        border-radius: 4px;
        color: #172121;
        &:hover{
            background-color: #2C6E49;
        }
    }
    
}
/*This is the picture grid for the images on the front page, i have extra images that only display on the desktop version*/
.frontpagemenu{
    .menugrid-container{
        display: grid;
        grid-template-columns: auto auto;
            

        .gridimage{
            
            img{
            width: 40vw;
            height: 35vh;
            background-color: #000000;
            padding: 5px;
            }
        }
    }
    .extraimages{
                img{
                display: none;
                }
            }
    a{
        text-decoration: none;
        font-size: 17px;
        background-color: #F7FFF7;
        color: #172121;
        
    }
    p{
        margin: 15px;
    }
}
.ordering{
    img{
        margin: 8px;
        width: 38vw;
        height: 8vh;
    }
    a{
        text-decoration: none;
        font-size: 17px;
    }
}
/* This is the Tablet Version of my website*/
@media only screen and (min-width: 768px) {
    .ordering{
        margin: 16px;
        img{
            width: 33vw;
            height: 12vh;
        }
    }
/* I adjusted the images size*/
    main#carousel{
        background-color: #f7fff7;
        width: 96vw;
        height: 45vh;
    }
    div.item {
        position: absolute;
        width: 700px;
        height: 320px;
        background-color: rgba($color: #000000, $alpha: 0.5);
        img{
            width: 75vw;
            height: 45vh;
        }
    }

    .frontpagemenu{
        .menugrid-container{
            .gridimage{
                img{
                width: 41vw;
                height: 47vh;
                padding: 3px;
                margin: 4px;
                }
            }
        }
        
        a{
            font-size: 26px;
        }
        
    }
    .scrolltothetop{
        a{
            font-size: 40px;
        }
    }
    /*This is the footer*/
        .footergrid{
            width: 100vw;
            background-image: linear-gradient( #9A031E,#520505);
            .griditem{
                background-image: linear-gradient( #9A031E,#520505);
                
                h2{
                    font-size: 28px;
                }
                h3{
                    font-size: 24px;
                }
                a{
                    font-size: 24px;
                    color: black;
                    
                }
                button a{
                    background-color: #520505;
                    display: block;

                }
                img{
                    width: 45px;
                    height: 45px;
                }
                p{
                    font-size: 19px;
                }
            }
        }
    
    .gallerybutton{
        width: 94.5vw;
        background-color: #F7FFF7;
        border: black 2px solid;
        a{
            font-size: 25px;
            border: solid 1px #F7FFF7;
            background-color: #172121;
            color: #F7FFF7;
        }
        
    }
/*This is the header i changed the color a little bit*/
    header{
        font-size: 25px;
        background-image: linear-gradient( #9A031E,#520505);
    }
    
    #menu{
        font-size: 25px;
    }
    .parallax{
        height: 50vh;
        .centertext{
        font-size: 60px;
    }
    }
    .description{
        h3{
            font-size: 38px;
            background-image: linear-gradient(to right, #172121, #2C6E49);
        }
        p{
            font-size: 25px;
        }
    }
    
}
/*This is the desktop verison of the website*/
@media only screen and (min-width: 1200px){
    
    .ordering{
        img{
            width: 11vw;
        }
    }/* i adjusted the images and added the extra images for there is more content*/
    .frontpagemenu{
        .extraimages{
                display: grid;
                grid-template-columns: auto auto;
                
            .gridimage2{
                
                img{
                display: initial;
                width: 22vw;
                height: 60vh;
                padding: 5px;
                background-color: black;
                
                }
            }
        }

        .menugrid-container{
            grid-template-columns: repeat(2);
                
                .gridimage{
                    
                    img{
                    width: 22vw;
                    height: 60vh;
                    padding: 5px;
                    
                    }
                }
            
            

        }
    }

    
    .description{

        h3{
            margin: 20px;
            font-size: 33px;
            background-image: linear-gradient(#9A031E,#520505);
        }
        p{
            font-size: 23px;
            margin: 29px;
        }
        a{
            font-size: 20px;
        }
    }
    
    
    

    .gallerybutton{
        background-image: linear-gradient(to right, black, white);
        a{
            font-size: 22px;
        }
        
        
    }/*This is the old navbar, and i set it to display none to hide it*/
    #menu{
        display: none;
    }
        
    
/*This is the new navbar that is displayed only for the desktop version*/
    header{
        width: 100vw;
        background-image: linear-gradient(#172121, #2C6E49 );
        font-size: 22px;
        .logo{
            background-color: #9A031E;
        }
        #navbar2{
            display: initial;
            font-size: 25px;
            width: 100vw;
            text-align: center;
        ul{
        position: absolute;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #F7FFF7;
        width: 100vw;
        
        }
        li{
        float: left;
        }
        li a{
        display: block;
        color: #172121;
        font-size: 22px;
        padding: 4px 15px;
        text-decoration: none;
        width: 20vw;
        
        &:hover{
            background-color: #9A031E;
            }
        }
        }
    }
/*This is the footer*/
    .footergrid{
        width: 100vw;
        
        .griditem{
            
            
            h2{
                font-size: 25px;
            }
            h3{
                font-size: 23px;
            }
            a{
                font-size: 18px;
                color: black;
            }
            img{
                width: 40px;
                height: 40px;
            }
            p{
                font-size: 19px;
            }
        }

        
    }

    main#carousel{
        background-color: #000000;
        width: 96vw;
        height: 60vh;
    }
    div.item {
        position: absolute;
        width: 1100px;
        height: 500px;
        background-color: rgba($color: #000000, $alpha: 0.5);
        img{
            width: 50vw;
            height: 64vh;
        }
    }

    .parallax{
        height: 52vh;
        .centertext{
        font-size: 55px;
    }
    }


}